.icon {
	width: 24px;
}

.collapsingRow .hiddenRow {
	padding: 0px;
}

.user-info-list {
	list-style-type: none;
	padding-left: 0px;
}

.user-info-subtitle {
	font-size: 1.2em;
	font-weight: bold;
}

.user-info-detail {
	font-weight: bold;
}

.info-status {
	text-align: center;
}