@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font: 0.9em 'Open Sans', Helvetica, sans-serif;
}

/* NAV */
nav {
	margin-bottom: 10px;
}
.navbar-light {
	background-color: #ACB8F5;
}

.navbar-brand img {
	height: 32px;
}

.icon {
	width: 24px;
}

.collapsingRow .hiddenRow {
	padding: 0px;
}

.user-info-list {
	list-style-type: none;
	padding-left: 0px;
}

.user-info-subtitle {
	font-size: 1.2em;
	font-weight: bold;
}

.user-info-detail {
	font-weight: bold;
}

.info-status {
	text-align: center;
}

.sms-textarea {
	width: 100%;
}

.unmoveable {
	opacity: 0.5;
}

.refund-error {
	color: #FF0000;
}

.new-refund {
	font-weight: bold;
}

.alert {
	text-align: center;
}