<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>WHISK Reminder</title>
  <style>
    body {
      font: 1em Helvetica, Arial, sans-serif;
    }
    .reminder_text {
      padding: 6px;
      font-weight: bold;
      text-align: center;
    }
    img {
      width: 95%;
      text-align: center;
    }
  </style>
</head>

<body>
  <img src="https://whisk.se/images/boxreminder.png" alt="WHISK.se Reminder" />

  <div class="reminder_text">Your box is due back on <%=dateFormat(user.dateIn, { format: 'long' }) %>.</div>
  <div class="reminder_text">Please note we've moved! Our address is Sandhamnsgatan 57B, 115 28 Stockholm. It's the apartment on the first floor on the right. As we aren’t always in you can leave your box (and accessories) outside our door. The door code is 6107 and call us on 0731416585 if you have any problems.</div>

<%- include('partials/email-signature') %>
</body>
</html>