<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>WHISK Final Reminder</title>
  <style>
    body {
      font: 1em Helvetica, Arial, sans-serif;
    }
    .reminder_text {
      padding: 6px;
      font-weight: bold;
      text-align: center;
    }
    img {
      width: 95%;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="reminder_text">Hello <%=user.forename %>,</div>
  <div class="reminder_text">Your box is now due back on <%=dateFormat(user.dateIn, { format: 'long' }) %>.</div>
  <div class="reminder_text">If it's not returned in the next two days you will be charged 750kr.</div>

<%- include('partials/email-signature') %>
</body>
</html>