  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/whisk-management.js"></script><%
if (typeof page !== 'undefined') {
  switch (page) {
    case 'dashboard': %>
  <script src="/js/dashboard.js"></script><%
    break;
      
    case 'newBoxLoan': %>
  <script src="/js/form-verification.js"></script><%
    break;

    case 'boxOverview': %>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/form-verification.js"></script>
  <script src="/js/boxLoans.js"></script><%
    break;
  
    case 'settings': %>
  <script src="/js/moment.min.js"></script>
  <script src="/js/tempusdominus.min.js"></script>
  <script src="/js/settings.js"></script><%
      break;
  
    case 'treatboxOrders': %>
  <script src="/js/treatboxOrders.js"></script><%
      break;
  
    default:
      break;
  }
} %>
</body>
</html>