  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/whisk-management.js"></script><%
  	if (typeof page !== 'undefined') {
  		if (page === 'boxOverview') { %>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/form-verification.js"></script>
  <script src="/js/boxLoans.js"></script><%
		} else if (page === 'settings') { %>
  <script src="/js/settings.js"></script><%
		} else if (page === 'treatboxOrders') { %>
  <script src="/js/treatboxOrders.js"></script><% }} %>
</body>
</html>