<!DOCTYPE html>

<html lang="en">
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="#" rel="shortcut icon" />
  <title>Whisk Management <%if (title != '') { %><%=`| ${title}`%><% } %></title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Whisk Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#whiskManagementNavbar" aria-controls="whiskManagementNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="whiskManagementNavbar">
      <ul class="navbar-nav mr-auto"><%
        if (typeof user != 'undefined') { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="treatboxDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Treatbox Orders</a>
          <div class="dropdown-menu" aria-labelledby="treatboxDropdown">
            <a class="dropdown-item" href="/treatbox/orders?date=thisweek">This Week</a>
            <a class="dropdown-item" href="/treatbox/orders?date=nextweek">Next Week</a>
            <a class="dropdown-item" href="/treatbox/orders?date=lastweek">Last Week</a>
            <div class="dropdown-divider"></div><%
              let year = '';
              for (let i = 0; i < treatboxDates.length; i += 1) {
                if (treatboxDates[i].year !== year) {} %>
            <a class="dropdown-item" href="/treatbox/orders?date=<%=treatboxDates[i].link %>">Week <%=treatboxDates[i].week %></a><% } %>
            %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/treatbox/orders">All Time</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=user.username%></a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/user/dashboard">Dashboard</a>
              <a class="dropdown-item" href="/user/settings">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Logout</a>
            </div>
          </li><%
        } else {
        %><li class="nav-item">
            <a class="nav-link" href="/auth/signin">Sign-In</a>
        </li><% } %>
      </ul>
    </div>
  </nav>
  
  <div class="container">